* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #777;
    width: 960px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
}

header {
    width: 960px;
    padding: 20px;
    margin-bottom: 10px;
    color: #333;
    background: #ebebeb;
    text-align: center;
}

nav {
    width: 960px;
    padding: 20px;
    margin-bottom: 10px;
    color: #333;
    background: #ebebeb;
    text-align: center;
}

section {
    width: 500px;
    padding: 20px;
    background: #ebebeb;
    text-align: center;
}

.container {
    background: #ebebeb;
    float: left;
}



.clearfix {
    overflow: auto;
    background-color: #777;
    margin: 20px 20px 20px 20px;
    float: left;
    width: 400px;
    height: 200px;
}

.art {
    color: white;
    margin: 20px 20px 20px 20px;
}

.head1 {
    background: #ebebeb;
    width: 300px;
    height: 50px;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.para1 {
    width: 300px;
    height: 50px;
    background: #ebebeb;
    margin: 20px 20px 20px 20px;
}
aside {
    width: 450px;
    padding: 20px;
    background: #ebebeb;
    text-align: center;
    height: 300px;
    float: left;
    margin: 0px 0px 10px 10px;
}
footer {
    clear: both;
    width: 960px;
    padding: 20px;
    margin-bottom: 10px;
    color: #333;
    background: #ebebeb;
    text-align: center;
}
